.breakdown {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Courier New', monospace;
  background-color: #0d0d0d;
  color: #e79512;
  box-shadow: 0 0 10px #b37e15;
}

.breakdown th,
.breakdown td {
  border: 1px solid #444;
  padding: 12px;
  text-align: left;
}

.breakdown th {
  background-color: #1a1a1a;
  color: #a63737;
  text-transform: uppercase;
}

.breakdown tr:nth-child(even) {
  background-color: #1e1e1e;
}

.breakdown tr:hover {
  background-color: #2a2a2a;
  color: #fff;
  cursor: crosshair;
}

.title {
  margin-top: 125px;
}
